Repository rohithaug/UCSD-CSE-210-Team-12, pull requests merged in 2024-02, with the labels that each got.

#51 Basic nodejs server setup for development
  server/.env
  server/.gitignore
  server/package-lock.json
  server/package.json
  server/src/app/controllers/index.js
  server/src/app/routes/v1/index.js
  server/src/app/services/index.js
  server/src/app/utils/apiError.js
  server/src/app/utils/catchAsync.js
  server/src/app/utils/pick.js
  server/src/config/express.js
  server/src/config/index.js
  server/src/server.js
Labels: server

#52 Basic mongodb setup in server for development
  server/.env
  server/package-lock.json
  server/package.json
  server/src/app/models/index.js
  server/src/app/models/plugins/index.js
  server/src/app/models/plugins/toJson.plugin.js
  server/src/config/mongoose.js
  server/src/server.js
Labels: server

#53 Basic react client setup for development
  client/.eslintrc.json
  client/.gitignore
  client/README.md
  client/jsconfig.json
  client/next.config.mjs
  client/package-lock.json
  client/package.json
  client/postcss.config.js
  client/public/next.svg
  client/public/vercel.svg
  client/src/assets/images/ucsdLogo.png
  client/src/pages/_app.jsx
  client/src/pages/blog/components/layout.jsx
  client/src/pages/blog/components/navbar.jsx
  client/src/pages/blog/index.jsx
  client/src/pages/dashboard/components/layout.jsx
  client/src/pages/dashboard/index.jsx
  client/src/pages/dashboard/settings/index.jsx
  client/src/pages/index.jsx
  client/src/styles/globals.css
  client/tailwind.config.js
Labels: client

#69 Frontend for Featured Posts
  client/.eslintrc.json
  client/src/assets/images/caps-be-kind-to-mind-and-body.png
  client/src/pages/blog/components/card.jsx
  client/src/pages/blog/components/layout.jsx
  client/src/pages/blog/index.jsx
Labels: tasks, client

#73 Student Landing Page Frontend and Backend Integration
  client/src/pages/blog/components/card.jsx
  client/src/pages/blog/index.jsx
Labels: client
